stockapp@1.0.0 /Users/neelshroff/Documents/cis450/StockTrends/backend
├─┬ cors@2.8.5
│ ├── object-assign@4.1.1
│ └── vary@1.1.2
├─┬ express@4.17.1
│ ├─┬ accepts@1.3.7
│ │ ├─┬ mime-types@2.1.25
│ │ │ └── mime-db@1.42.0
│ │ └── negotiator@0.6.2
│ ├── array-flatten@1.1.1
│ ├─┬ body-parser@1.19.0
│ │ ├── bytes@3.1.0
│ │ ├── content-type@1.0.4 deduped
│ │ ├── debug@2.6.9 deduped
│ │ ├── depd@1.1.2 deduped
│ │ ├─┬ http-errors@1.7.2
│ │ │ ├── depd@1.1.2 deduped
│ │ │ ├── inherits@2.0.3 deduped
│ │ │ ├── setprototypeof@1.1.1 deduped
│ │ │ ├── statuses@1.5.0 deduped
│ │ │ └── toidentifier@1.0.0
│ │ ├─┬ iconv-lite@0.4.24
│ │ │ └── safer-buffer@2.1.2
│ │ ├── on-finished@2.3.0 deduped
│ │ ├── qs@6.7.0 deduped
│ │ ├─┬ raw-body@2.4.0
│ │ │ ├── bytes@3.1.0 deduped
│ │ │ ├── http-errors@1.7.2 deduped
│ │ │ ├── iconv-lite@0.4.24 deduped
│ │ │ └── unpipe@1.0.0 deduped
│ │ └── type-is@1.6.18 deduped
│ ├─┬ content-disposition@0.5.3
│ │ └── safe-buffer@5.1.2 deduped
│ ├── content-type@1.0.4
│ ├── cookie@0.4.0
│ ├── cookie-signature@1.0.6
│ ├─┬ debug@2.6.9
│ │ └── ms@2.0.0
│ ├── depd@1.1.2
│ ├── encodeurl@1.0.2
│ ├── escape-html@1.0.3
│ ├── etag@1.8.1
│ ├─┬ finalhandler@1.1.2
│ │ ├── debug@2.6.9 deduped
│ │ ├── encodeurl@1.0.2 deduped
│ │ ├── escape-html@1.0.3 deduped
│ │ ├── on-finished@2.3.0 deduped
│ │ ├── parseurl@1.3.3 deduped
│ │ ├── statuses@1.5.0 deduped
│ │ └── unpipe@1.0.0
│ ├── fresh@0.5.2
│ ├── merge-descriptors@1.0.1
│ ├── methods@1.1.2
│ ├─┬ on-finished@2.3.0
│ │ └── ee-first@1.1.1
│ ├── parseurl@1.3.3
│ ├── path-to-regexp@0.1.7
│ ├─┬ proxy-addr@2.0.5
│ │ ├── forwarded@0.1.2
│ │ └── ipaddr.js@1.9.0
│ ├── qs@6.7.0
│ ├── range-parser@1.2.1
│ ├── safe-buffer@5.1.2
│ ├─┬ send@0.17.1
│ │ ├── debug@2.6.9 deduped
│ │ ├── depd@1.1.2 deduped
│ │ ├── destroy@1.0.4
│ │ ├── encodeurl@1.0.2 deduped
│ │ ├── escape-html@1.0.3 deduped
│ │ ├── etag@1.8.1 deduped
│ │ ├── fresh@0.5.2 deduped
│ │ ├── http-errors@1.7.2 deduped
│ │ ├── mime@1.6.0
│ │ ├── ms@2.1.1
│ │ ├── on-finished@2.3.0 deduped
│ │ ├── range-parser@1.2.1 deduped
│ │ └── statuses@1.5.0 deduped
│ ├─┬ serve-static@1.14.1
│ │ ├── encodeurl@1.0.2 deduped
│ │ ├── escape-html@1.0.3 deduped
│ │ ├── parseurl@1.3.3 deduped
│ │ └── send@0.17.1 deduped
│ ├── setprototypeof@1.1.1
│ ├── statuses@1.5.0
│ ├─┬ type-is@1.6.18
│ │ ├── media-typer@0.3.0
│ │ └── mime-types@2.1.25 deduped
│ ├── utils-merge@1.0.1
│ └── vary@1.1.2 deduped
├─┬ mysql@2.17.1
│ ├── bignumber.js@7.2.1
│ ├─┬ readable-stream@2.3.6
│ │ ├── core-util-is@1.0.2
│ │ ├── inherits@2.0.3
│ │ ├── isarray@1.0.0
│ │ ├── process-nextick-args@2.0.1
│ │ ├── safe-buffer@5.1.2 deduped
│ │ ├─┬ string_decoder@1.1.1
│ │ │ └── safe-buffer@5.1.2 deduped
│ │ └── util-deprecate@1.0.2
│ ├── safe-buffer@5.1.2 deduped
│ └── sqlstring@2.3.1
├─┬ nodemon@2.0.1
│ ├─┬ chokidar@3.3.0
│ │ ├─┬ anymatch@3.1.1
│ │ │ ├── normalize-path@3.0.0 deduped
│ │ │ └── picomatch@2.1.1
│ │ ├─┬ braces@3.0.2
│ │ │ └─┬ fill-range@7.0.1
│ │ │   └─┬ to-regex-range@5.0.1
│ │ │     └── is-number@7.0.0
│ │ ├── fsevents@2.1.2
│ │ ├─┬ glob-parent@5.1.0
│ │ │ └── is-glob@4.0.1 deduped
│ │ ├─┬ is-binary-path@2.1.0
│ │ │ └── binary-extensions@2.0.0
│ │ ├─┬ is-glob@4.0.1
│ │ │ └── is-extglob@2.1.1
│ │ ├── normalize-path@3.0.0
│ │ └─┬ readdirp@3.2.0
│ │   └── picomatch@2.1.1 deduped
│ ├─┬ debug@3.2.6
│ │ └── ms@2.1.2
│ ├── ignore-by-default@1.0.1
│ ├─┬ minimatch@3.0.4
│ │ └─┬ brace-expansion@1.1.11
│ │   ├── balanced-match@1.0.0
│ │   └── concat-map@0.0.1
│ ├── pstree.remy@1.1.7
│ ├── semver@5.7.1
│ ├─┬ supports-color@5.5.0
│ │ └── has-flag@3.0.0
│ ├─┬ touch@3.1.0
│ │ └─┬ nopt@1.0.10
│ │   └── abbrev@1.1.1
│ ├─┬ undefsafe@2.0.2
│ │ └── debug@2.6.9 deduped
│ └─┬ update-notifier@2.5.0
│   ├─┬ boxen@1.3.0
│   │ ├─┬ ansi-align@2.0.0
│   │ │ └── string-width@2.1.1 deduped
│   │ ├── camelcase@4.1.0
│   │ ├── chalk@2.4.2 deduped
│   │ ├── cli-boxes@1.0.0
│   │ ├─┬ string-width@2.1.1
│   │ │ ├── is-fullwidth-code-point@2.0.0
│   │ │ └─┬ strip-ansi@4.0.0
│   │ │   └── ansi-regex@3.0.0
│   │ ├─┬ term-size@1.2.0
│   │ │ └─┬ execa@0.7.0
│   │ │   ├─┬ cross-spawn@5.1.0
│   │ │   │ ├─┬ lru-cache@4.1.5
│   │ │   │ │ ├── pseudomap@1.0.2
│   │ │   │ │ └── yallist@2.1.2
│   │ │   │ ├─┬ shebang-command@1.2.0
│   │ │   │ │ └── shebang-regex@1.0.0
│   │ │   │ └─┬ which@1.3.1
│   │ │   │   └── isexe@2.0.0
│   │ │   ├── get-stream@3.0.0
│   │ │   ├── is-stream@1.1.0
│   │ │   ├─┬ npm-run-path@2.0.2
│   │ │   │ └── path-key@2.0.1
│   │ │   ├── p-finally@1.0.0
│   │ │   ├── signal-exit@3.0.2 deduped
│   │ │   └── strip-eof@1.0.0
│   │ └─┬ widest-line@2.0.1
│   │   └── string-width@2.1.1 deduped
│   ├─┬ chalk@2.4.2
│   │ ├─┬ ansi-styles@3.2.1
│   │ │ └─┬ color-convert@1.9.3
│   │ │   └── color-name@1.1.3
│   │ ├── escape-string-regexp@1.0.5
│   │ └── supports-color@5.5.0 deduped
│   ├─┬ configstore@3.1.2
│   │ ├─┬ dot-prop@4.2.0
│   │ │ └── is-obj@1.0.1
│   │ ├── graceful-fs@4.2.3
│   │ ├─┬ make-dir@1.3.0
│   │ │ └── pify@3.0.0
│   │ ├─┬ unique-string@1.0.0
│   │ │ └── crypto-random-string@1.0.0
│   │ ├─┬ write-file-atomic@2.4.3
│   │ │ ├── graceful-fs@4.2.3 deduped
│   │ │ ├── imurmurhash@0.1.4
│   │ │ └── signal-exit@3.0.2
│   │ └── xdg-basedir@3.0.0 deduped
│   ├── import-lazy@2.1.0
│   ├─┬ is-ci@1.2.1
│   │ └── ci-info@1.6.0
│   ├─┬ is-installed-globally@0.1.0
│   │ ├─┬ global-dirs@0.1.1
│   │ │ └── ini@1.3.5
│   │ └─┬ is-path-inside@1.0.1
│   │   └── path-is-inside@1.0.2
│   ├── is-npm@1.0.0
│   ├─┬ latest-version@3.1.0
│   │ └─┬ package-json@4.0.1
│   │   ├─┬ got@6.7.1
│   │   │ ├─┬ create-error-class@3.0.2
│   │   │ │ └── capture-stack-trace@1.0.1
│   │   │ ├── duplexer3@0.1.4
│   │   │ ├── get-stream@3.0.0 deduped
│   │   │ ├── is-redirect@1.0.0
│   │   │ ├── is-retry-allowed@1.2.0
│   │   │ ├── is-stream@1.1.0 deduped
│   │   │ ├── lowercase-keys@1.0.1
│   │   │ ├── safe-buffer@5.1.2 deduped
│   │   │ ├── timed-out@4.0.1
│   │   │ ├── unzip-response@2.0.1
│   │   │ └─┬ url-parse-lax@1.0.0
│   │   │   └── prepend-http@1.0.4
│   │   ├─┬ registry-auth-token@3.4.0
│   │   │ ├─┬ rc@1.2.8
│   │   │ │ ├── deep-extend@0.6.0
│   │   │ │ ├── ini@1.3.5 deduped
│   │   │ │ ├── minimist@1.2.0
│   │   │ │ └── strip-json-comments@2.0.1
│   │   │ └── safe-buffer@5.1.2 deduped
│   │   ├─┬ registry-url@3.1.0
│   │   │ └── rc@1.2.8 deduped
│   │   └── semver@5.7.1 deduped
│   ├─┬ semver-diff@2.1.0
│   │ └── semver@5.7.1 deduped
│   └── xdg-basedir@3.0.0
├── oracledb@4.0.1
├── UNMET PEER DEPENDENCY prop-types@^15.5.4
├── UNMET PEER DEPENDENCY react@^16.6.3
└─┬ react-charts@2.0.0-beta.6
  ├── @reach/observe-rect@1.0.3
  ├─┬ d3-delaunay@5.1.6
  │ └── delaunator@4.0.1
  ├─┬ d3-scale@3.2.1
  │ ├── d3-array@2.4.0
  │ ├── d3-format@1.4.2
  │ ├─┬ d3-interpolate@1.4.0
  │ │ └── d3-color@1.4.0
  │ ├── d3-time@1.1.0
  │ └─┬ d3-time-format@2.2.2
  │   └── d3-time@1.1.0 deduped
  ├─┬ d3-shape@1.3.7
  │ └── d3-path@1.0.9
  ├── d3-voronoi@1.1.4
  └─┬ raf@3.4.1
    └── performance-now@2.1.0

